.menu {
  position: fixed;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  background-color: #fbeffe;
  width: 50px;
  height: 100vh;
  transition: 1s;
  z-index: 1;
  .btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin-left: auto;
    width: 50px;
    height: 50px;
    background-color: tomato;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    span {
      position: absolute;
      display: block;
      height: 5px;
      width: 70%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: #fff;
      transition-delay: 0.3s;
      &:after, &:before {
        position: absolute;
        display: block;
        content: '';
        height: 5px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        transition-property: top, transform;
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s;
      }
      &:after {
        top: -12px;
      }
      &:before {
        top: 12px;
      }
    }
  }
  .btn.active {
    background-color: green;
    span {
      background: none;
    }
    span:after {
      top: 0;
      transform: rotate(-45deg);
      transition-delay: 0s, 0.3s;
    }
    span:before {
      top: 0;
      transform: rotate(45deg);
      transition-delay: 0s, 0.3s;
    }
  }
  .nav {
    overflow-x: hidden;
    a {
      display: block;
      text-decoration: none;
      color: CornflowerBlue;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 30px;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.5s;
      &:nth-child(1) {
        transition-delay: 0.3s;
      }
      &:nth-child(2) {
        transition-delay: 0.5s;
      }
      &:nth-child(3) {
        transition-delay: 0.7s;
      }
      &:hover {
        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
      }
    }
  }
}
.menu.open {
  width: 30%;
  .nav {
    a {
      opacity: 1;
    }
  }
}
