@import 'variables';
@import 'media';

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 15px;
}

p {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

ol, ul {
  font-size: 15px;
  padding-left: 20px;
  li {
    margin-bottom: 15px;
  }
}

.wrapper {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  .content {
    flex-grow: 1;
    margin-left: 50px;
  }
}

@import 'menu';
@import 'anim';
@import 'observer';
